/build
/output
/.vs
/Debug
ModMoon.elf
ModMoon.3dsx
ModMoon.smdh
ModMoon.vcxproj
resources/Planning.txt
.vs/ModMoon/v15/Browse.VC.db
.vs/ModMoon/v15/.suo
.vs/ModMoon/v15/ipch/AutoPCH/133df431856dfed8/ERROR.ipch
.vs/ModMoon/v15/ipch/AutoPCH/7cdd4b598110d338/TITLESELECT.ipch
Debug/ModMoon.log
ModMoon.3dsx
ModMoon.elf
ModMoon.vcxproj.filters
*.t3x
